@font-face {
  font-family: Grifter;
  src: url("assets/fonts/grifterbold.otf") format("opentype");
}

@font-face {
  font-family: Plusjakartasans;
  src: url("assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("opentype");
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveRightLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.hero-section {
  width: 100%;
  height: 634px;
  background-color: #fbe8de;
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png"), linear-gradient(180deg, #fbe8de, #fbe8de);
  position: relative;
}

.hero-section-image {
  height: 26px;
  width: 128px;
  margin-top: 32px;
  animation: fadeInFromBottom 0.8s;
}

.hero-section-image-container {
  display: flex;
  justify-content: center;
}

.hero-section-text-container {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInFromBottom 0.8s;
}

.hero-section-header {
  font-family: Grifter, sans-serif;
  font-size: 80px;
  line-height: 90px;
  font-weight: 200;
  width: 800px;
  text-align: center;
}

.hero-section-subheader {
  font-family: Plusjakartasans, sans-serif;
  margin-top: 24px;
  font-size: 24px;
  line-height: 36px;
}

.see-plans-button {
  font-family: Grifter, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .5px;

  background-color: black;
  padding: 24px 60px;
  border-radius: 8px;
  margin-top: 40px;
  -webkit-text-size-adjust: 100%;
  box-shadow: 6px 6px 0 0 rgb(0 0 0 / 20%);
  transition: -0.2s;

  cursor: pointer;
}

.see-plans-button:hover {
  box-shadow: 8px 8px 0 0 rgb(0 0 0 / 20%);
  transform: translate(0px, -2px);
}

.left-hero-image-container {
  animation: fadeInFromLeft 0.8s;
}

.right-hero-image-container {
  animation: fadeInFromRight 0.8s;
}

.guarantee-text {
  margin-top: 30px;
  font-size: 13px;
}

.scroll-portfolio-section {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png"), linear-gradient(180deg, #fbe8de, #fbe8de);
  position: relative;
  width: 100%;
  overflow-x: visible;
  justify-content: space-between;
  height: 480px;

}

.scroll-portfolio-image {
  min-width: 400px;
  height: 400px;
  margin-right: 20px;
}

#app-container {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png"), linear-gradient(180deg, #fbe8de, #fbe8de);
}

.scroll-portfolio-image:hover{
  transform: scale(1.1);
  transition: 0.5s;
  /* add gradient grey box shadow effect */
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.613);
}

.scroll-portfolio-section-container{
  position: relative;
  animation: fadeInFromBottom 0.8s;

}

.latest-projects-image{
  position: absolute;
  z-index: 1;
  margin-left: 5%;
  margin-top: -1%;
  width: 142px;
}

.brand-scroller-container{
  background-color: black;
  position: relative;
  height: 132px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  animation: fadeInFromBottom 0.8s;
}

.brand-scroller{
  animation: moveLeftRight 10s linear infinite;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.brand-scroller-image{
  margin-right: 20px;
}

.usps-container{
  animation: fadeInFromBottom 0.8s;
  padding-top: 100px;
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png"),linear-gradient(180deg,#fff,#fff);
}

.usps{
  /* align items centrally horizontal */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usps-header{
  font-family: Grifter, sans-serif;
  max-width: 600px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 200;
  letter-spacing: .5px;
  display: flex;
  text-align: center;
}

.usps-text{
  font-family: Plusjakartasans,sans-serif;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 36px;
  max-width: 600px;
  text-align: center;
}

.usps-details{
  margin-top: 100px;
}

.usps-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.usps-detail-text{
  font-family: Plusjakartasans,sans-serif;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 26px;
  max-width: 600px;
  text-align: center;
}