@font-face {
  font-family: Grifter;
  src: url("assets/fonts/grifterbold.otf") format("opentype");
}

.hero-section {
  width: 100%;
  height: 634px;
  background-color: #fbe8de;
}

.hero-section-image {
  height: 26px;
  width: 128px;
  margin-top: 32px;
}

.hero-section-image-container {
  display: flex;
  justify-content: center;
}

.hero-section-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.hero-section-header {
  font-family: Grifter, sans-serif;
  font-size: 80px;
  line-height: 90px;
  font-weight: 200;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */